.navbar {
  width: 976px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputSearch {
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filterSelect {
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
